In [1]:
import sqlite3 
import pandas as pd

In [2]:
con = sqlite3.connect('HR.db')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Departments',), ('Employees',), ('Jobs',), ('JobsHistory',), ('Locations',)]

Using magic SQL

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///HR.db

In [5]:
%%sql 

SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///HR.db
Done.

[('Departments',), ('Employees',), ('Jobs',), ('JobsHistory',), ('Locations',)]